{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Page Content -->
  <section id="contact">
    
    <div class="container" style="margin:60px">
  
                 <h3 class="text-center text-uppercase">contact us</h3>
                 <p class="text-center w-75 m-auto">We value your health and well-being. If you have any questions, concerns, or need assistance with your medical supplies, our dedicated team is here to help. Contact us anytime, and we'll provide you with expert guidance and support to ensure you find the right products for your needs. Your health is our priority.</p>
                 <div class="row">
                   <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                     <div class="card border-0">
                        <div class="card-body text-center">
                          <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                          <h4 class="text-uppercase mb-5">call us now</h4>
                          <p>+91-89898-22222</p>
                        </div>
                      </div>
                   </div>
                   <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                     <div class="card border-0">
                        <div class="card-body text-center">
                          <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                          <h4 class="text-uppercase mb-5">office loaction</h4>
                         <address>New Delhi, India </address>
                        </div>
                      </div>
                   </div>
                 
                   <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                     <div class="card border-0">
                        <div class="card-body text-center">
                          <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                          <h4 class="text-uppercase mb-5">email</h4>
                          <p>info.medicare@gmail.com</p>
                        </div>
                      </div>
               </div>
               </div>
  
    </div>
    <!-- /.container -->
    </section>
  


{% endblock %}