{% load static %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text"> &copy copyright 2023 <a href="{% url 'home' %}">Medicare.COM </a></p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2"> 
					<i class="fa fa-globe fa-1x mb-0" aria-hidden="true">Email:</i>
					infomedicare@yahoo.in</span>
				<span  class="px-2"><i class="fa fa-phone fa-1x mb-0" aria-hidden="true"></i>
					+879-332-9375</span>
				<span  class="px-2"><i class="fa fa-map-marker fa-1x mb-0" aria-hidden="true">Loaction :</i>
				 B/B west Sagarpur,New Delhi,110046</span>
			</div>
			
			
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
