{% extends 'base.html'%}
{% load static %}
{% block content %}

<section class="section-conten padding-y bg">
 
    <div class="container">
        <h3>&nbspUser Orders</h3>
        <div class="row">
<main class="col-md-9">
    <article class="card">
    <header class="card-header">
        <strong class="d-inline-block mr-3">Order ID: 1</strong>
        <strong class="d-inline-block mr-3" style="margin-left: 530px;">Order Date: 2023/09/25</strong>
    </header>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <h6 class="text-muted">Shipp_Address</h6>
                <p> 
                Email_ID: {{ user.Email_id }} <br>
                Location: {{ user.Address }}, {{user.City}}, India <br>
                P.O. Box: 110094
                 </p>
            </div>
          
        </div> <!-- row.// -->
    </div> <!-- card-body .// -->
    <div class="table-responsive">
    <table class="table table-hover">
        <tr>
            
            <td> Pay_id <br> 1 </td>
            <td> P_id <br> 3 </td>
            <td> Quantity <br> 2 </td>
            <td> Amount <br>Rs 90 </td>
            <td width="250">  <a href="#" class="btn btn-light"> Cancel </a> </td>
        </tr>
     
     
    </table>
    </div> <!-- table-responsive .end// -->
    </article> <!-- order-group.// -->
</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}